body {
  background-color: #000000;
  font-family: 'Courier New', Courier, monospace;
  color: lime;
  text-align: center;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#video-background {
  width: 100%;
  height: 100%;
  object-fit:scale-down;
}

.top {
  vertical-align: middle;
}

.links {
  background-color: #000000;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  outline: 2px solid rgb(0, 255, 0);
}

.sublinks {
  text-align: center;
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: lime;
}

.sub2links {
  text-align: center;
  color: lime;
}

.sub2links:hover {
  color: rgb(0, 255, 221);
  cursor: pointer;
  animation-name: sublinks3;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sublinks3{
  0%{
    font-size: 15.9px;
  }
  100%{
    font-size: 16.2px;
  }

}

.title {
  display: inline-block;
  margin-top: 20px;
}

.logo {
  display: inline-block;
  width: 200px;
}

.logoimg {
  width: 200px;
}

.logoimg:hover {
  transform: rotate(25deg);
}

.logoimg:active {
  transform: rotate(40deg);
}

.titletext {
  display: inline-block;
}

.ttimg {
  display: inline-block;
  width: 600px;
  height: 200px;
}

.bait {
  width: 100%;
  background-color: #000000;
  margin-top: 10px;
  margin-bottom: 50px;
  outline: 2px solid rgb(0, 255, 0);
  text-align: center;

}

.baitcell {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 19%;
  outline: 2px solid rgb(0, 255, 0);
}

.baitpicture{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}

.baittitle {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 4px;
  margin-bottom: 0px;
  color: lime;
  outline: 2px solid rgb(0, 255, 0);
}

.baittitle:hover {
  color: rgb(0, 255, 221);
  cursor: pointer;
  animation-name: sublinks3;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.main {
  position: relative;
  width: 75%;
  display:inline-block;
  outline: 2px solid rgb(0, 255, 0);
}

.feedbackground {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#feedbackground {
  width: 100%;
  height: 100%;
  object-fit:scale-down;
}


.mainbg {
  position: relative;
  width: 90%;
  height: 400px;
  background-image: url(FeedBackground.png);
  background-repeat: repeat-x;
  z-index: 1;
  outline: 2px solid rgb(0, 255, 0);
}


.box {
  margin-left: 13%;
  width: 75%;
  padding-bottom: 5px;
}

.postholder{
  outline: 2px solid rgb(0, 255, 0);
  background-color: #000000;
}

.posttitle{
  outline: 2px solid rgb(0, 255, 0);
  background-color: #00271b;
  color: rgb(255, 255, 255);
}

.posttitletext{
  font-size: large;
  font-weight: bolder;
}
