body {
  background-color: #000000;
  font-family: 'Courier New', Courier, monospace;
  color: lime;
  text-align: center;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#video-background {
  width: 100%;
  height: 100%;
  object-fit:scale-down;
}

.main {
  margin-top: 50px;
  display:inline-block;
  position:relative;
  width: 60%;

  outline: 2px solid rgb(0, 255, 0);
}

.home {
  text-align: center;
  position: fixed;
  width: 8%;
  display: block;
  outline: 2px solid rgb(0, 255, 0);
}

.home {
  object-fit: cover;
}

.homeimgfile {
  object-fit: cover;
  width: 100%;
  transition: transform 300ms;
}

.homeimgfile:hover {
  transform: scale(0.8);
}

